body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    border: 5px solid black;
    gap: 8px;
}

.display {
    height: 10%;
    text-align: right;
    font-size:32px;
    display: flex;
    flex-direction: column;
}

#operations, #result {
    height: 50%;
}

.buttons {
    height: 90%;
    display: flex;
    flex-wrap: wrap;
}

button {
    box-sizing: border-box;
    font-size: 64px;
    border: 1px solid black;
    width: 25%;
    height: 20%;
    background: white;
}

#clear {
    font-size: 32px;
    font-weight: bolder;
}
.operator {
    background: #87e4ed;
}