body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    border: 5px solid black;
}

.display {
    box-sizing: border-box;
    padding: 8px;
    height: 20%;
    text-align: right;
    font-size:32px;
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid black;
}

#operations, #result {
    height: 50%;
}

#result {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 42px;
}

#operations {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.buttons {
    height: 80%;
    display: flex;
    flex-wrap: wrap;
}

button {
    box-sizing: border-box;
    font-size: 64px;
    border: 1px solid black;
    width: 25%;
    height: 20%;
    background: white;
    border-radius: 8px;
}

#clear {
    font-size: 32px;
    font-weight: bolder;
}
.operator {
    background: #87e4ed;
}